#local-search.search-dialog
  #local-search-title.search-dialog__title 搜索文章
  #local-input-panel
    #local-search-input
      .local-search-box
        input(placeholder=theme.local_search.labels.input_placeholder).local-search-box--input
  hr
  #local-search-results
    #local-hits
    #local-stats
      hr.local-search-stats__hr
      .indentlev1 把浩瀚的海洋装进我胸膛,
      .indentlev2 即使再小的帆也能远航。
  span.search-close-button
    i.fa.fa-times
.search-mask